<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Cloud Computing Assignment</title>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- page icon -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="script.js" defer></script>

    <link
      rel="icon"
      href="{{ url_for('static', filename='images/f-logo.ico') }}"
      type="image/x-icon"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}"
    />
    <!-- style css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
    <!-- Responsive-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/responsive.css') }}"
    />

    <!-- Tweaks for older IEs-->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/calendar-api.css') }}"
    />
    </style>

    

  </head>
  <!-- body -->
  <body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader">
        <img
          src="{{ url_for('static', filename = 'images/loading.gif') }}"
          alt="#"
        />
      </div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <div class="header">
      <div class="container">
        <div class="row d_flex">
          <div class="col-md-2 col-sm-3 col logo_section">
            <div class="full">
              <div class="center-desk">
                <div class="logo">
                  <a href="/">
                    <img
                      class="uempower_logo"
                      src="{{ url_for('static', filename = 'images/Google-Cloud-Symbol.png') }}"
                      alt="FoodLink Logo"
                  /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-12">
            <nav class="navigation navbar navbar-expand-md navbar-dark">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExample04"
                aria-controls="navbarsExample04"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/place-api">Place API</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/calendar-api">Calendar API</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/youtube-data-api"
                      >Youtube Data API</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/openweather-api"
                      >Open Weather API</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/timezone-api">Time Zone API</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- end header inner -->

    <!-- about -->
  
      <div class="about">
        <div class="calendar-main-container">
            <div class="calendar-title-section">
              <h2>Calendar <span class="blue_light">  API</span></h2>
            </div>
            <div class="calendar-content">
              <div class="wrapper">
                <header>
                    <p class="current-date"></p>
                    <div class="icons">
                      <span id="prev" class="material-symbols-rounded">chevron_left</span>
                      <span id="next" class="material-symbols-rounded">chevron_right</span>
                    </div>
                </header>

                <div class="calendar">
                    <ul class="weeks">
                      <li>Sun</li>
                      <li>Mon</li>
                      <li>Tue</li>
                      <li>Wed</li>
                      <li>Thu</li>
                      <li>Fri</li>
                      <li>Sat</li>
                    </ul>
                    <ul class="days"></ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- end about -->

    <!--  footer -->
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="infoma text_align_left">
                <h3>Group Members</h3>
                <ul class="commodo">
                  <li>1. MUHAMMAD SYAFIQ BIN ADIMUN (207093)</li>
                  <li>2. MUHAMMAD SYAUQIE BIN SYAHROL NIZAR (206066)</li>
                  <li>3. AZRIEL HAFNY BIN NOOR AZLI (205473)</li>
                  <li>4. MUHAMMAD ALIF ZAKWAN BIN MOHD AS’AD (206078)</li>
                  <li>5. AHMAD SHUKRI BIN AZMI (206133)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>Cloud Computing Group Assignment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <!-- sidebar -->
    <script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>
    <script>
            const daysTag = document.querySelector(".days"),
            currentDate = document.querySelector(".current-date"),
            prevNextIcon = document.querySelectorAll(".icons span");

            // getting new date, current year and month
            let date = new Date(),
            currYear = date.getFullYear(),
            currMonth = date.getMonth();

            // storing full name of all months in array
            const months = ["January", "February", "March", "April", "May", "June", "July",
                          "August", "September", "October", "November", "December"];

            const renderCalendar = () => {
                let firstDayofMonth = new Date(currYear, currMonth, 1).getDay(), // getting first day of month
                lastDateofMonth = new Date(currYear, currMonth + 1, 0).getDate(), // getting last date of month
                lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay(), // getting last day of month
                lastDateofLastMonth = new Date(currYear, currMonth, 0).getDate(); // getting last date of previous month
                let liTag = "";

                for (let i = firstDayofMonth; i > 0; i--) { // creating li of previous month last days
                    liTag += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`;
                }

                for (let i = 1; i <= lastDateofMonth; i++) { // creating li of all days of current month
                    // adding active class to li if the current day, month, and year matched
                    let isToday = i === date.getDate() && currMonth === new Date().getMonth() 
                                && currYear === new Date().getFullYear() ? "active" : "";
                    liTag += `<li class="${isToday}">${i}</li>`;
                }

                for (let i = lastDayofMonth; i < 6; i++) { // creating li of next month first days
                    liTag += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
                }
                currentDate.innerText = `${months[currMonth]} ${currYear}`; // passing current mon and yr as currentDate text
                daysTag.innerHTML = liTag;
            }


             renderCalendar();

            prevNextIcon.forEach(icon => { // getting prev and next icons
                icon.addEventListener("click", () => { // adding click event on both icons
                    // if clicked icon is previous icon then decrement current month by 1 else increment it by 1
                    currMonth = icon.id === "prev" ? currMonth - 1 : currMonth + 1;

                    if(currMonth < 0 || currMonth > 11) { // if current month is less than 0 or greater than 11
                        // creating a new date of current year & month and pass it as date value
                        date = new Date(currYear, currMonth, new Date().getDate());
                        currYear = date.getFullYear(); // updating current year with new date year
                        currMonth = date.getMonth(); // updating current month with new date month
                    } else {
                        date = new Date(); // pass the current date as date value
                    }
                    renderCalendar(); // calling renderCalendar function
                });
            });
    </script>

  </body>
</html>
